<div class= "vp-bodyapp" [style.height.px] = "innerHeight">
    <div class= "vp-logoarea">
        <img src="assets/images/Vipo2.svg" width="170px">
    </div>

    <div class="vp-home-bodyarea">
        <div class="vp-leftbody-img">
            <img src="assets/images/shirt.svg" width="60px">
        </div>
        <div class="vp-centerbody-info">
                <div><h2>Welcome!</h2></div>
                <div><p>Let's find what you are looking for</p></div>
        </div>
        <div class="vp-rightbody-img">
            <img src="assets/images/skirt.svg" width="60px">
        </div>
    </div>

    <hr>
    <div class="vp-securityreg">
            <div class="vp-datasecurity-info">
                    <img src="assets/images/shield.svg" width="60px" class="vp-securimg">
                    <p> Don't be shy, this photo would not be stored in our server. Enjoy our recomendations!</p>
                </div>
    </div>
    
    
    <div class="vp-btnarea">
        <button (click)="startProcess()">Start Experience</button>
    </div>
</div>

<hr>
<div class ="vp-footer">
    <img src="assets/images/home.svg" width="40px" (click)="footerActionHome()">
</div>