<div class= "vp-bodyapp" [style.height.px] = "innerHeight">
  <div class= "vp-logoarea">
      <img src="assets/images/Vipo2.svg" width="50px">
  </div>
  
    <div *ngIf="!showphoto" >
        <div class="vp-framephotoviewer">
            <div class="vp-photoarea">
                <webcam [height]= "1200" [width]="350" [trigger]="triggerObservable" [imageQuality]="1" (imageCapture)="handleImage($event)" class= "camera"></webcam>
            </div>
        </div>
        <div class="vp-counter" >
            <h3>Stand up behind the blue line</h3>
            <section>
                <h3>Photo would be taken in: </h3>
                <div class ="vp-counterdiv">
                    <countdown #cd [config]="timerConfig" (event)="timerHandleEvent($event)" class= "vp-countdown"></countdown>
                </div>
                <div class="vp-photoAction">
                    <button (click)="countdownTrigger()">Take Picture</button>
                </div>
            </section>
            
        </div>  
      </div>
      <div *ngIf="showphoto" class ="vp-photocontainer">
          <div class="vp-snapshot" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl"/>
            </div>
          <div class= "vp-buttoncontainer">
            <button (click) = "processImage()">Ready</button>
            <button (click) = "resetEscenario()">Take Photo</button>
          </div>
      </div>
</div>
<hr>
<div class ="vp-footer">
    <img src="assets/images/home.svg" width="40px" (click)="footerActionHome()">
</div>





